version: 2.1

jobs:
  build-and-test:
    working_directory: ~/SeaEye
    macos:
      xcode: 13.3.1
    environment:
      LC_ALL: en_US.UTF-8
      LANG: en_US.UTF-8
    shell: /bin/bash --login -eo pipefail
    steps:
      - checkout
      - run: gem install bundler -v 2.0.1
      - run: bundle install
      - run: bundle exec fastlane gym
      - run: bundle exec fastlane test
      - run: cp /Users/distiller/SeaEye/fastlane/test_output/report.junit /Users/distiller/SeaEye/fastlane/test_output/results.xml
      - run: cd /Users/distiller/SeaEye/ && zip -r SeaEye.app.zip SeaEye.app
      - store_test_results:
          path: /Users/distiller/SeaEye/fastlane/test_output
      - store_artifacts:
          path: /Users/distiller/SeaEye/SeaEye.app.zip
          destination: SeaEye.app.zip
      - store_artifacts:
          path: /Users/distiller/SeaEye/fastlane/test_output
          destination: scan-test-results
      - store_artifacts:
          path: ~/Library/Logs/scan
          destination: scan-logs
  swiftlint:
    docker:
      - image: dantoml/swiftlint:latest
    steps:
      - checkout
      - run: swiftlint lint --reporter junit | tee result.xml
      - store_artifacts:
          path: result.xml
      - store_test_results:
          path: result.xml

workflows:
  build-test-lint:
    jobs:
      - swiftlint
      - build-and-test
